Pillow~=7.1.2
pyTelegramBotAPI==3.7.5
qrcode==6.1

requests~=2.22.0
future~=0.18.2
olefile~=0.46
pip~=20.0.2
keyring~=18.0.1
six~=1.14.0
colorama~=0.4.3
certifi~=2019.11.28
chardet~=3.0.4
urllib3~=1.25.7
cryptography~=2.8
idna~=2.8
simplejson~=3.16.0
setuptools~=45.2.0