.card{
width: 420px;
height: 290px;
    -webkit-perspective: 600px;
    -moz-perspective: 600px;
    perspective:600px;
    
}

.card__part{
    box-shadow: 1px 1px #aaa3a3;
    top: 0;
    position: absolute;
    z-index: 1000;
    left: 0;
    display: inline-block;
    width: 320px;
    height: 190px;
    background: linear-gradient(to right bottom, #d112d1, #a907a9, #8d108d, #9b049b, #830083);

    border-radius: 10px;

}

.card__front{
    padding: 18px;
}

.card__front-logo{
    position: absolute;
    top: 18px;
    right: 18px;
}
.card__square {
    border-radius: 5px;
    height: 38px;
}

.card_name {
    margin-bottom: 0;
    margin-top: 45px;
    font-size: 13px;
    line-height: 18px;
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
}


.bonus_card{
    position: absolute;
    top: 12px;
    right: 20px;
    font-size: 17px;
    font: 16px "Helvetica Neue", Helvetica, sans-serif;
    color: rgb(38, 38, 38);

}

.xari{
    width: 50px;
    margin-top: 30px;
    margin-left: 20px;
}

.name{
    width: 50%;
}

.qrcode{
    position: absolute;
    top: 30%;
    left: 65%;
}

.pass{
    /* position: relative;
    width: 51%; */
    position: absolute;
    left: 55%;
    top: 75%;
    font: 14px "Helvetica Neue", Helvetica, sans-serif;
}
.card_pass {
    margin-left: 50px;
    font-size: 15px;
    line-height: 18px;
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
}
